<h1 class="m-2">今日排程</h1>
<select class="form-select m-3" aria-label="Default select example" style="width: 150px;">
  <option selected>依科別顯示</option>
  <option value="1">婦產科</option>
  <option value="2">一般外科</option>
  <option value="3">泌尿外科</option>
  <option value="3">神經外科</option>
  <option value="3">耳鼻喉科</option>
  <option value="3">大腸直腸外科</option>
  <option value="3">骨科</option>
  <option value="3">眼科</option>
  <option value="3">胸腔外科</option>
  <option value="3">心臟血管外科</option>
  <option value="3">口腔外科</option>
</select>

<div>
  {{>homepage-tabs}}
  <div class="m-2">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th class="col-1">手術房間</th>
          <th class="col-1">手術狀態</th>
          <th class="col-1">病歷號</th>
          <th class="col-1">床號</th>
          <th class="col-1">姓名</th>
          <th class="col-2">主刀醫師</th>
          <th class="col-2">診斷</th>
          <th class="col-3">術式</th>  
        </tr>
      </thead>
      <tbody>
        
        {{!-- content --}}
        {{#each patientData}}
        <tr>
          {{#if this.room}}
          <td>{{ this.room }}</td>
          {{else}}
          <td></td>
          {{/if}}
          
          {{#if this.statusCode}}
          
          {{#ifCond this.statusCode 1}}
          <td>已報到</td>
          {{/ifCond}}
          {{#ifCond this.statusCode 2}}
          <td>手術準備中</td>
          {{/ifCond}}
          {{#ifCond this.statusCode 3}}
          <td>手術中</td>
          {{/ifCond}}
          {{#ifCond this.statusCode 4}}
          <td>已完成</td>
          {{/ifCond}}
          
          {{else}}
          <td></td>
          {{/if}}
          <td>{{ this.patientNumber }}</td>
          <td>{{ this.ward }}</td>
          <td>{{ this.name }}</td>
          <td>{{ this.doctor }}</td>
          <td>{{ this.diagnose }}</td>
          <td>{{ this.surgery }}</td>
        </tr>
        {{/each}}
        {{!-- content --}}
      </tbody>
    </table>
  </div>
  
</div>